.idea
.DS_Store
output/**/*.mp4
output/**/*.mp3
output/**/*.png
output/**/*.log
output/**/*.txt
output/**/*.srt
output/**/*.ass
output/**/*.webm
output/**/*.json
output/**/*.md
output/**/*.wav
output/**/*.mov
