.idea
.DS_Store
output/**/*.mp4
output/**/*.mp3
output/**/*.png
output/**/*.jpg
output/**/*.log
output/**/*.txt
output/**/*.srt
output/**/*.ass
output/**/*.webm
output/**/*.json
output/**/*.md
output/**/*.wav
output/**/*.mov

node_modules
data
src/remotion/audio/**/*.mp3
src/remotion/out/*.mp4
src/remotion/preview/*.png
src/remotion/public/assets/*.jpg
